@import url('https://fonts.googleapis.com/css2?family=Nunito&family=Tajawal&display=swap');
* {
  margin: 0%;
  padding: 0%;
  font-family: "Tajawal", sans-serif;

}
a{
    text-decoration: none;
    color:#333;
}
body {
  direction: rtl;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 2em;
}
/* start navbar */
.navbar {
  background: #F2F2F2;
  color: #333;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 3rem;
}
.logo {
  font-size: 2em;
  text-shadow: 2px 2px 4px #8696fe;
  color: aliceblue;
}
nav>ul {
  list-style: none;
}
.items-group {
  display: flex;
  gap: 1rem;

  justify-content: space-between;
  align-items: center;
}
.nav-item > img {
  height: 1.5rem;
  width: 1.5rem;
}
/* end navbar */
main,
header {
  padding: 1em;
}
/* strt cover */
.cover {
  height: 100vh;
  flex-shrink: 0;
  border-radius: 1.25rem;
  background-image: url(images/event-img2.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.filter-btns > button {
  border: 1px solid #333;
  border-radius: 0.3125rem;
  width: auto;
  height: auto;
  background-color: #fff;
  display: flex;
  flex-direction: row;
  padding: 0.5em 0.7em;
  justify-content: space-around;
  align-items: center;
  gap: 1em;
}
.filter-btns {
  display: flex;
  gap: 1em;
}
.arrow {
  width: 0.5em;
  height: 0.5em;
  transform: rotate(-45deg);
  border-bottom: 2px solid #000;
  border-left: 2px solid #000;
}
.info-cards {
  padding-top: 6em;
}
.cards-group {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(25rem, 1fr));

  grid-template-rows: repeat(2, 1fr);
  gap: 3em 3em;
  justify-items: center;
  align-items: center;
}
.card {
  display: flex;
  width: 20rem;
  height: 21rem;
  padding: 0.6rem;
  flex-direction: column;
  align-items: center;
  gap: 1.25rem;
  border-radius: 1.5rem;
  background: #fff;
  box-shadow: 0px 6.625909805297852px 19.049489974975586px 0px
    rgba(21, 56, 108, 0.15);
}

.card-img {
  background: url(images/cover.png), lightgray;
  background-size: cover;
  width: 19.25rem;
  height: 13.3125rem;
  border-radius: 0.875rem;
}
.card-txt {
  width: 100%;
  display: flex;
  padding: 6px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
}
.card-title {
  display: flex;
  height: 35px;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
  padding: 0 0.7em;

}
.time-loc {
  display: flex;
  height: 35px;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
  padding: 0 1em;
}
.time,
.loc {
  display: flex;
  gap: 0.5em;
  align-items: center;
}

/* end cover */
